@import "../../../../extention/color";

/* Aboutコンポーネント独自のスタイル */

.about {
  .about-container {
    font-size: 16px;
    margin: 10px auto 50px;

    .aboutTitle {
      text-align: center;
      margin-bottom: 20px;
      font-size: 21px;
      font-weight: bold;
    }
  }

  .howToUse-container {
    margin: 50px 0;

    .list-box {
      .list-item {
        padding-left: 30px;
        margin-bottom: 20px;
        font-size: 13px;

        &:last-child {
          margin-bottom: 0;
        }

        .listTitle {
          color: $color-skyblue;
          font-size: 21px;
          margin-bottom: 5px;
          position: relative;

          &::before {
            background-color: $color-black;
            border-radius: 12px;
            content: "\f00c";
            color: $color-white;
            font-size: 13px;
            position: absolute;
            left: -33px;
            top: 3px;
            padding: 5px;
          }
        }
      }
    }
  }
}
