body {
  max-width: 420px;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  background: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.act-button {
  padding: 10px 20px;
  border: 3px solid;
}

.bottom-btn {
  width: 80%;
  margin: 0 auto;
}

.headline {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

figure.image {
  margin: 0;
}

img {
  width: 100%;
  vertical-align: middle;
}

.mt10 {
  margin-top: 10px;
}

.mb50 {
  margin-bottom: 50px;
}

.explainBlock {
  padding: 20px;
  font-weight: bold;
  color: #333;
  background: linear-gradient(163deg, #dad9d6 0%, #e6e8e6 50%, #d8d8d2 51%, #9e9e9b 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 10px solid #9e9e9b;
  border-right: 4px solid #bfbebc;
  border-left: 4px solid #bfbebc;
  border-top: 7px solid #dad9d6;
}
