/* Contact */
.contact-form .form-list .form-list__item {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.contact-form .form-list .input,
.contact-form .form-list .textarea {
  border: 1px solid #ccc;
  display: block;
  width: 90%;
  padding: 10px 20px;
  border-radius: 0;
  margin-top: 15px;
}

.contact-form .form-submit {
  border: none;
  width: 25%;
  margin: 0 auto;
}

/* TOPIC */
.MainContainer-topic {
  border: solid 3px #fff;
  padding: 20px;
  border-radius: 7px;
}

.MainContainer-topic .topic-event {
  display: flex;
  margin-bottom: 10px;
}

.MainContainer-topic .topic-event:last-child {
  margin-bottom: 0;
}

.MainContainer-topic .topic-event .topic-event__day {
  margin-right: 33px;
}

/* WORK */
.MainContainer-works .works-list {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  padding: 20px 0;
  overflow: hidden;
}

.MainContainer-works .works-list .scroll_lst {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 25px 0 25px;
}

.MainContainer-works .works-list .scroll_lst .scroll_item {
  display: inline-block;
  width: 90px;
  padding: 10px;
  background-color: #ccc;
  margin-right: 15px;
}

.MainContainer-works .works-list .scroll_lst .scroll_item:first-child {
  margin-left: 10px;
}

.MainContainer-works .works-list .scroll_lst .scroll_item .scroll_item_inr {
  display: block;
}

.MainContainer-works .horizontal_scroll_wrap {
  overflow-y: hidden;
}

/* lecture */
.self-production {
  width: 90%;
  margin: 0 auto;
}

.self-production .self-production-title {
  text-align: center;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
  background-color: #636060;
}

.self-production .slider {
  margin: 20px 0 50px;
}

.self-production .slider .slider-content {
  width: 75%;
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 15px;
  background-color: #636060;
}

.self-production .slider .slider-content .slider-content-image {
  margin-right: 10px;
  width: 25%;
  float: left;
}

.self-production .slider .slider-content .slider-content-detail {
  font-size: 13px;
  float: left;
  width: 70%;
}

.self-production .slider .slider-content .slider-content-detail .slider-content-detail__status {
  background-color: red;
  padding: 5px 10px;
  letter-spacing: 3px;
}

.self-production .slider .slider-content .slider-content-detail .slider-content-detail__category {
  margin: 10px 0 0;
  font-size: 11px;
}

.self-production .slider .slider-content .slider-content-detail .slider-content-detail__title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.self-production .slider .slider-content .slider-content-detail .slider-content-detail__info {
  font-size: 11px;
}

/* Rrquest */
.MainContainer-about {
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  margin: 10px auto 50px;
}

.MainContainer-about .title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: bold;
}

.MainContainer-howtouse {
  margin: 50px 0;
}

.MainContainer-howtouse .list .list__item {
  padding-left: 30px;
  margin-bottom: 20px;
}

.MainContainer-howtouse .list .list__item:last-child {
  margin-bottom: 0;
}

.MainContainer-howtouse .list .list__item .list__item__title {
  color: #0dd7ef;
  font-size: 21px;
  margin-bottom: 5px;
  position: relative;
}

.MainContainer-howtouse .list .list__item .list__item__title::before {
  background-color: #333;
  border-radius: 12px;
  content: "\f00c";
  color: #fff;
  font-size: 13px;
  position: absolute;
  left: -33px;
  top: 3px;
  padding: 5px;
}

.MainContainer-howtouse .list .list__item p {
  font-size: 13px;
}

/* Tab */
.tabs {
  -webkit-tap-highlight-color: transparent;
}

.tabs .tabs__tab-list {
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px;
  padding: 0;
}

.tabs .tabs__tab-list .tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.tabs .tabs__tab-list .tabs__tab--selected {
  background-color: #fff;
  border-color: #ccc;
  color: black;
  border-radius: 5px 5px 0 0;
}

.tabs .tabs__tab-list .tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.tabs .tabs__tab-list .tabs__tab:focus {
  box-shadow: 0 0 5px #0188fe;
  border-color: #0188fe;
  outline: none;
}

.tabs .tabs__tab-list .tabs__tab:focus::after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background-color: #fff;
}

.tabs .tabs__tab-list .tabs__tab-panel {
  display: none;
}

.tabs .tabs__tab-list .tabs__tab-panel--selected {
  display: block;
}

/*# sourceMappingURL=style.css.map */
