/* Contact */
.form-container .form-list .form-item {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.form-container .form-list input,
.form-container .form-list textarea {
  border: 1px solid #ccc;
  display: block;
  width: 90%;
  padding: 10px 20px;
  border-radius: 0;
  margin-top: 15px;
}
.form-container .formSubmit {
  border: none;
  width: 25%;
  margin: 0 auto;
}

/* TOPIC */
.topic-container {
  border: solid 3px #fff;
  padding: 20px;
  border-radius: 7px;
}
.topic-container .topic-news {
  display: flex;
  margin-bottom: 10px;
}
.topic-container .topic-news:last-child {
  margin-bottom: 0;
}
.topic-container .topic-news .newsDay {
  margin-right: 33px;
}

/* WORK */
.works-container {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  padding: 20px 0;
  overflow: hidden;
  overflow-y: hidden;
}
.works-container .scroll-list {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 25px 0 25px;
}
.works-container .scroll-list .scroll-item {
  display: inline-block;
  width: 90px;
  padding: 10px;
  background-color: #ccc;
  margin-right: 15px;
}
.works-container .scroll-list .scroll-item:first-child {
  margin-left: 10px;
}

/* lecture */
.product-list {
  width: 90%;
  margin: 0 auto;
}
.product-list .productTitle {
  text-align: center;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
  background-color: #636060;
}
.product-list .slider-list {
  margin: 20px 0 50px;
}
.product-list .slider-list .product-container {
  width: 75%;
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 15px;
  background-color: #636060;
}
.product-list .slider-list .product-container .image {
  margin-right: 10px;
  width: 25%;
  float: left;
}
.product-list .slider-list .product-container .product-detail {
  font-size: 13px;
  float: left;
  width: 70%;
}
.product-list .slider-list .product-container .product-detail .productStatus {
  background-color: red;
  padding: 5px 10px;
  letter-spacing: 3px;
}
.product-list .slider-list .product-container .product-detail .productCategory {
  margin: 10px 0 0;
  font-size: 11px;
}
.product-list .slider-list .product-container .product-detail .productTitle {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}
.product-list .slider-list .product-container .product-detail .productInfo {
  font-size: 11px;
}

/* Request */
.about-container {
  font-size: 16px;
  margin: 10px auto 50px;
}
.about-container .aboutTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: bold;
}

.howToUse-container {
  margin: 50px 0;
}
.howToUse-container .list-box .list-item {
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 13px;
}
.howToUse-container .list-box .list-item:last-child {
  margin-bottom: 0;
}
.howToUse-container .list-box .list-item .listTitle {
  color: #0dd7ef;
  font-size: 21px;
  margin-bottom: 5px;
  position: relative;
}
.howToUse-container .list-box .list-item .listTitle::before {
  background-color: #333;
  border-radius: 12px;
  content: "\f00c";
  color: #fff;
  font-size: 13px;
  position: absolute;
  left: -33px;
  top: 3px;
  padding: 5px;
}

/* Tab */
.tabs {
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}
.tabs .tablist {
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px;
  padding: 0;
}
.tabs .tablist .tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}
.tabs .tablist .tab.-selected {
  background-color: #fff;
  border-color: #ccc;
  color: black;
  border-radius: 5px 5px 0 0;
}
.tabs .tablist .tab.-disabled {
  color: GrayText;
  cursor: default;
}
.tabs .tablist .tab:focus {
  box-shadow: 0 0 5px #0188fe;
  border-color: #0188fe;
  outline: none;
}
.tabs .tablist .tab:focus::after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background-color: #fff;
}
.tabs .tablist .tab-panel {
  display: none;
}
.tabs .tablist .tab-panel.-selected {
  display: block;
  padding: 30px 10px 0;
  clear: both;
  overflow: hidden;
}

/* BottomButton */
.bottom {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.bottom .bottomBtn {
  padding: 10px 20px;
  border: 3px solid;
}
